/* carrossel  */
.slider1 {
    margin: 2em auto -16px auto;
    width: 900px;
    height: 469px;
    overflow: hidden;
    animation-name: eita;
    animation-duration: 2s;
  }
  .slides1 {
    width: 400%;
    height: 350px;
    display: flex;
  }
  .slider1 input {
    display: none;
  }
  .slide {
    width: 25%;
    position: relative;
    transition: 1s ease-in-out;
    animation: opa 2s;
  }
  .slide img {
    width: 900px;

  }
  .manual-navigation {
    position: absolute;
    width: 900px;
    margin-top: 19px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 20px;
  }
  .manual-btn:hover {
    background-color: #fff;
  }
  #radio1:checked ~ .firts {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  #radio4:checked ~ .first {
    margin-left: -75%;
  }
  
  .navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .navigation-auto {
    position: absolute;
    width: 900px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 20px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
  }
  /* Fim do carrossel */
  
  /* Menu das salas  */
  
  .salas {
    position: relative;
    margin: 5em auto 2em auto;
    width: auto;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .salas li:not(:last-child) {
    margin-right: 1em;
  }
  .salas li a {
    border-radius: 1em;
    background-color: #fcdfa6;
    text-decoration: none;
    padding: 10px 15px;
    color: #131313;
  }
  
  #selecione {
    font-size: 46pt;
    text-align: center;
  }
  #request {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: transparent;
    transition: 1s;
    animation: opa;
    animation-duration: 1s;
  }
  #request h1 {
    color: #fcdfa6;
  }
  
  .box-agenda {
    margin-top: 3em;
    margin-bottom: 6em;
    font-size: 19pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    align-items: center;
    color: #fff;
  }
  .box-agenda a {
    font-size: 19pt;
    border-radius: 1em;
    text-decoration: none;
    background-color: #fcdfa6;
    font-weight: 600;
    padding: 15px;
    color: #131313;
    transition: 1s;
  }
  .box-agenda a:hover {
    transition: 1s;
    padding: 22px;
  }
  
  @keyframes opa {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes eita {
    0% {
      transform: translateX(50px);
    }
    100% {
      translate: translateX(0);
    }
  }
  
  /* responsividade */
  
 
    
  