.container{
    position: relative;
    padding: 0.938rem;
    max-width: 100%;
    margin: 0 auto;
}

.gallery-wrapper{
    overflow-x: auto;
}
.gallery-wrapper::-webkit-scrollbar{
    display: none;
}
.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.938rem;
}
.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 1.25rem;
    line-height: 15.625rem;
    width: 2.5rem;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
}
.arrow-right{
    opacity: 0.01;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}
.arrow-left:hover{
    opacity: 1;
    transition: all 600ms ease-in-out;
}
.arrow-right:hover{
    opacity: 1;
    transition: all 600ms ease-in-out;
}
.item{
    width: 60em;
    height: 33.75em;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms step-end;
}
.current-item{
    opacity: 1;
}
@media screen and (max-width: 700px){
    .item{
        width: 25rem;
        height:  15rem;
    }

}