/* carrossel  */
.slider1 {
  margin: 0 auto;
  width: 800px;
  height: 369px;
  overflow: hidden;
  animation-name: eita;
  animation-duration: 2s;
}
.slides1 {
  width: 400%;
  height: 350px;
  display: flex;
}
.slider1 input {
  display: none;
}
.slide {
  width: 25%;
  position: relative;
  transition: 1s ease-in-out;
  animation: opa 2s;
}
.slide img {
  width: 800px;
  
}
.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.manual-btn:not(:last-child) {
  margin-right: 20px;
}
.manual-btn:hover {
  background-color: #fff;
}
#radio1:checked ~ .firts {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
#radio5:checked ~ .first {
  margin-left: -100%;
}

.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 310px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: #fff;
}
/* Fim do carrossel */

/* Menu das salas  */

.salas {
  position: relative;
  margin: 5em auto 2em auto;
  width: auto;
  display: flex;
  justify-content: center;
  list-style: none;
}
.salas li:not(:last-child) {
  margin-right: 1em;
}
.salas li a {
  border-radius: 1em;
  background-color: #fcdfa6;
  text-decoration: none;
  padding: 10px 15px;
  color: #131313;
}

#selecione {
  font-size: 46pt;
  text-align: center;
}
#request {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  background-color: transparent;
  transition: 1s;
  animation: opa;
  animation-duration: 1s;
}
#request h1 {
  color: #fcdfa6;
}

.box-agenda {
  margin-top: 3em;
  margin-bottom: 6em;
  font-size: 19pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  align-items: center;
  color: #fff;
  text-align: center;
}
.box-agenda a {
  font-size: 19pt;
  border-radius: 1em;
  text-decoration: none;
  background-color: #fcdfa6;
  font-weight: 600;
  padding: 15px;
  color: #131313;
  transition: 1s;
}
.box-agenda a:hover {
  transition: 1s;
  padding: 22px;
}

@keyframes opa {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes eita {
  0% {
    transform: translateX(50px);
  }
  100% {
    translate: translateX(0);
  }
}

/* responsividade */

@media screen and (max-width: 1600px) {
  .box {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width:1170px) {
  .slider1 {
    width: 600px;
    height: 276.38px;
  }
  .slides1 {
    width: 400%;
    height: 276.38px;
  }
  .slide img {
    width: 600px;
  }
  .manual-navigation {
    width: 600px;
    margin-top: -40px;
  }
  .navigation-auto {
    width: 600px;
    margin-top: 237px;
  }
}


@media screen and (max-width: 1000px) {
  .box {
    flex-direction: column;
  }
  .box{
    margin-top: -40px;
  }
  .request h1{
    font-size: 22pt;
    margin-bottom: 1.4em;
}
}

@media screen and (max-width:680px) {
  .slider1 {
    width: 450px;
    height: 207.28px;
  }
  .slides1 {
    width: 400%;
    height: 276.38px;
  }
  .slide img {
    width: 450px;
  }
  .manual-navigation {
    width: 450px;
    margin-top:-100px;
  }
  .navigation-auto {
    width: 450px;
    margin-top: 175px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    margin-top: 8em;
  }
}

@media screen and (max-width:550px) {
  .slider1 {
    width: 450px;
    height: 207.28px;
  }
  .slides1 {
    width: 400%;
    height: 276.38px;
  }
  .slide img {
    width: 450px;
  }
  .manual-navigation {
    width: 450px;
    margin-top:-100px;
  }
  .navigation-auto {
    width: 450px;
    margin-top: 175px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    width: 450px;
    padding: 30px;
    margin-top: 10em;
    margin-left: 1%;
  }
  .box-agenda p{
    width: 18em;
  }
}

@media screen and (max-width:500px) {
  .slider1 {
    width: 450px;
    height: 207.28px;
  }
  .slides1 {
    width: 400%;
    height: 276.38px;
  }
  .slide img {
    width: 450px;
  }
  .manual-navigation {
    width: 450px;
    margin-top:-100px;
  }
  .navigation-auto {
    width: 450px;
    margin-top: 175px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    padding: 10px;
    margin-top: 10em;
    
  }
  .box-agenda p{
    width: 18em;
  }
}

@media screen and (max-width:480px) {
  body{
    overflow-x: hidden;
  }
  .salas{
    flex-wrap: wrap;
    row-gap: 2em;
  }
  
  .slider1 {
    width: 350px;
    height: 207.28px;
  }
  .slides1 {
    width: 400%;
    height: 276.38px;
  }
  .slide img {
    width: 350px;
  }
  .manual-navigation {
    width: 350px;
    margin-top:-100px;
  }
  .navigation-auto {
    width: 350px;
    margin-top: 175px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    width: 23em;
    padding:0px  20px;
    margin-top: 10em;
    margin-left: 3%;
  }
  .box-agenda p{
    width: 16em;

  }
}
@media screen and (max-width:425px) {  
  .slider1 {
    width: 350px;
    height: 207.28px;
  }
  .slides1 {
    width: 400%;
    height: 276.38px;
  }
  .slide img {
    width: 350px;
  }
  .manual-navigation {
    width: 350px;
    margin-top:-100px;
  }
  .navigation-auto {
    width: 350px;
    margin-top: 175px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    width: 23em;
    padding:0px  2%;
    margin-top: 10em;
    margin-left: 3%;
  }
  .box-agenda p{
    width: 16em;

  }
}
@media screen and (max-width:425px) {  
  .slider1 {
    width: 325px;
    height: 151.58px;
  }
  .slides1 {
    width: 400%;
    height:151.58px;
  }
  .slide img {
    width: 325px;
  }
  .manual-navigation {
    width: 325px;
    margin-top:-30px;
  }
  .navigation-auto {
    width: 325px;
    margin-top: 122px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    width: 23em;
    padding:0% 1%;
    margin-top: 10em;
    margin-left: 0px;
  }
  .box-agenda p{
    width: 16em;
  }
}

@media screen and (max-width:375px) {  
  .slider1 {
    width: 300px;
    height: 139.58px;
  }
  .slides1 {
    width: 400%;
    height:151.58px;
  }
  .slide img {
    width: 300px;
  }
  .manual-navigation {
    width: 300px;
    margin-top:-40px;
  }
  .navigation-auto {
    width: 300px;
    margin-top: 112px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    width: 20em;
    padding-left: 20px;
    margin-top: 10em;
    margin-left: 0px;
  }
  .box-agenda p{
    width: 14em;
  }
}

@media screen and (max-width:330px) {  
  .slider1 {
    width: 300px;
    height: 139.58px;
  }
  .slides1 {
    width: 400%;
    height:151.58px;
  }
  .slide img {
    width: 300px;
  }
  .manual-navigation {
    width: 300px;
    margin-top:-40px;
  }
  .navigation-auto {
    width: 300px;
    margin-top: 112px;
  }
  .box{
    height: 600px;
    margin-bottom: 6em;
  }
  #request{
    width: 14em;
    padding-left: 10px;
    margin-top: 10em;
    margin-left: 0px;
  }
  #request h1{
    font-size: 24pt;
    margin-left: 30px;
  }
  .box-agenda p{
    width: 12em;
  }
}