@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@600;700&family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}
body{
    background-color: #464646;
}
header {
    background-color: #FCDFA6;
    box-shadow: 0px 3px 10px #000000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3em;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo h1 {
    color: #fff;
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    text-shadow: 1px 1px 2px #026b43;
    cursor: default;
    text-align: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #026b43;
    font-weight: 400;
    
}
.nav-link:hover{
    text-decoration: underline;
    transition: 3s;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #026b43;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 895px) {
    header{
        column-gap: 1.3rem;
    }
    .logo h1{
        font-size: 1.7rem;
        text-shadow: 1px 1px 2px #026b43;
        cursor: pointer;
        text-align: center;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }

    .mobile-menu{
        animation-name: menur;
    }
    .mobile-menu-icon {
        display: block;
        
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        mask-clip:initial;
        animation-name: menu;
        animation-duration: 1.5s;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
       
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
     
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
        animation-name: menu;
        
    }
    
}

@keyframes menu {
    0%{
        height: 2px;
        overflow-y: auto;
        overflow-y: hidden;
    }
    100%{
        height: 130px;
    }
}

@keyframes menur{
    0%{
        height: 180px;
        
    }
    100%{
        height: 2px;
        overflow-y: auto;
        overflow-y: hidden;
    }
}

/* carousel */


.current-item{
    opacity: 1;
}
.textinho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 40em;
    height: 20em;
    padding: 20px;
    background-color: #FCDFA6;
    position: relative;
    margin-left: 0 auto;
    font-size: 20pt;
    border-radius: 10px;
}
.textinho h2{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;

}

.container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 6em;
    align-items: center;
    height: auto;
    padding: 3em 1.25em;
}
.textinho2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 40em;
    height: 20em;
    padding: 20px;
    background-color: #2e2e2e;
    color: #fff;
    position: relative;
    margin-left: 0 auto;
    font-size: 20pt;
    border-radius: 10px;
}
.textinho2 h2{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}
article{
    display: flex;
    justify-content: center;
    column-gap: 6em;
    align-items: center;
    height: auto;
    background-color: beige;
    padding: 3em 1.25em;
}
.chefes{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}

.chefes img{
    width: 28em;
    height: 28em;
    border-radius: 50%;
}

footer{
    margin-top: 5em;
    width: 100%;
    height: 17em;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

